
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #424242;
    color: #D9E1D6;
}
.container {
    width: max-content;
    margin: auto;
}

.header {
    margin-top: 4px;
    text-align: center;
    background-color: #2E2E2E;
    border: 1px solid #8ADD2E;
}

.typheader {
    text-align: center;
    border: 1px solid #8ADD2E;
}

.d1t4s, .d1recs {
    text-align: center;
    list-style: none;
    background-color: #2E2E2E;
    border: 1px solid #8ADD2E;
    padding: 10px;
    float: left;
}

.d1, .d2 {
    margin: auto;
    display: inline-grid;
}

.d2t4s, .d2recs {
    text-align: center;
    list-style: none;
    background-color: #2E2E2E;
    border: 1px solid #8ADD2E;
    padding: 10px;
    float: left;
}
