<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="/static/css/fractalschedule/fracs.css" rel="stylesheet">
        <title> Fractal Dailies </title>
    </head>
    <body>
        <div class="container">
            <div class="d1">
                <div class="header">
                    <a>Current Reset</a>
                </div>
                <div class="d1t4s">
                    <div class=typheader>
                        <a>T4s</a>
                    </div>
                    {% for d in d1t4s %}
                    <li>{{d}}</li>
                    {% endfor %}
                </div>
                <div class="d1recs">
                    <div class=typheader>
                        <a>Recs</a>
                    </div>
                    {% for d in d1recs %}
                    <li>{{d}}</li>
                    {% endfor %}
                </div>
            </div>
            <div class="d2">
                <div class="header">
                    <a>Next Reset</a>
                </div>
                <div class="d2t4s">
                    <div class=typheader>
                        <a>T4s</a>
                    </div>
                    {% for d in d2t4s %}
                    <li>{{d}}</li>
                    {% endfor %}
                </div>
                <div class="d2recs">
                    <div class=typheader>
                        <a>Recs</a>
                    </div>
                    {% for d in d2recs %}
                    <li>{{d}}</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
